<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TammyApp">

        <activity android:name="com.muse.museapp.activities.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.muse.museapp.activities.RISE.RiseHome" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiskAssessmentIntro" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiskAssessmentQuestions" />
        <activity
            android:name="com.muse.museapp.activities.RISE.ChooseModule" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiseSlides" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiseQnA" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiseQuiz" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiseQuizResults" />
        <activity
            android:name="com.muse.museapp.activities.RISE.StressOrKnowledge" />
        <activity
            android:name="com.muse.museapp.activities.RISE.RiskAssess" />
        <activity
            android:name="com.muse.museapp.activities.RISE.ChooseStressActivityScreen" />
        <activity
            android:name="com.muse.museapp.activities.RISE.StressBreathingActivity" />
        <activity
            android:name="com.muse.museapp.activities.RISE.StressMeditatingActivity" />
        <activity
            android:name="com.muse.museapp.activities.RISE.StressGuidedImageryActivity" />
        <activity
            android:name="com.muse.museapp.activities.RISE.StressStretchingActivity" />
        <activity
            android:name="com.muse.museapp.activities.RISE.ThankYouScreen" />
        <activity
            android:name="com.muse.museapp.activities.RISE.NextActivityScreen" />
        <activity
            android:name="com.muse.museapp.activities.RISE.GoodbyeScreen" />

        <activity
            android:name="com.muse.museapp.ui.categories.CategoriesActivity" />
        <service
            android:name="com.muse.museapp.activities.SpeechService"
            android:enabled="true" />
    </application>

</manifest>